extends layout.pug

block content
  div(class="row")
    div(class="col-12")
      h3 Build Plan
    div(class="col-12")
      .btn.bg-gold.mr-2
        b Gold Spent &nbsp;
        span.badge.badge-light.gold-spent
      .btn.bg-elixer.mr-2
        b Elixer Spent &nbsp;
        span.badge.badge-light.elixer-spent
      .btn.bg-dark.text-light
        b Days Elapsed &nbsp;
        span.badge.badge-light.days-elapsed
    div.col-12
      canvas#buildPlanChart.mb-2.mt-2
    div(class="col-12 cards")
      div(class="card-deck")
